<!DOCTYPE html>
 <html lang="en">
   <head>
     <title>Decision Maker Home Page</title>
     <link href="https://fonts.googleapis.com/css?family=Rambla:400,700" rel="stylesheet">
     <link rel="stylesheet" href="/public/styles/layout.css" type="text/css" />
     <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
     <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
     <link rel="stylesheet" href="/public/styles/Nav-bar.css" type="text/css" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="/public/styles/userpolls.css" type="text/css"/>
     <link rel="stylesheet" href="/public/styles/test.css" type="text/css"/>
     <link rel="stylesheet" href="/public/styles/results.css" type="text/css"/>
     <!-- <link rel="stylesheet" href="/styles/" -->
   </head>

   <body class="over">
     <nav class="navbar navbar-inverse">

      <div class="profile_pic">
     <img src="/images/rick.jpg" class="img-circle" alt="Cinque Terre" width="60" height="60"></div>
</div>
<!-- <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
 -->

<div class="header">

      <a class="brand" href="http://localhost:8080/">Decision Maker</a>
     </div>
     <button id="button_new_poll" type="button" class="btn btn-primary btn-md">Create New Poll </button>

   <div class="container-fluid">



   </div>
 </nav>


