<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/test.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
        <script type="text/javascript" src="/scripts/retrieve-option.js"></script>
  </head>

  <body>
    <h1>Hello poll!</h1>

<div class="ttt">wawaaaaaaaaaaaa</div>
<ul class='circle-container'>
  <li class="option" id="one"><img src='http://images.all-free-download.com/images/graphiclarge/harry_potter_icon_6825007.jpg'></li>
    <li class="option" id="two">aflkweflekj</li>
      <li class="option" id="three"><img src='images/rrr.png'></li>
        <li class="option" id="four"><img src='images/ttt.png'></li>
      <li class="option" id="five"><img src='images/eee.png'></li>
</ul>
<div class="box"></div>
      <form action="/poll/:id" method="POST" class="submit_box">
       <input type="submit" value="submits" name="submit_button">
     </form>

  </body>
</html>
