<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

 
    <link rel="stylesheet" href="test.css" type="text/css" />
  </head>

  <body>
    <h1>Hello poll!</h1>

<div class="ttt">wawaaaaaaaaaaaa</div>
<ul class='circle-container'>
  <li><img src='images/eee.png'></li>
  <li><img src='images/qqq.png'></li>
    <li><img src='images/www.png'></li>
      <li><img src='images/rrr.png'></li>
        <li><img src='images/ttt.png'></li>

</ul>
      <form action="/poll/:id" method="POST" class="submit_box">
       <h2>Compose Tweet</h2>
       <input type="submit" value="submits" name="submit_button">
    <div></div>
     </form>

  </body>
</html>
