<% include ./partials/_partials.ejs %>

<link rel="stylesheet" href="/styles/thankyoupage.css" type="text/css"/>

  <body>
    <h1>Thank you for creating a poll</h1>
    <h2>You're on your way to making a great decision</h2>
    <div class="nextsteps">
<h3>Check your inbox for an email from Decision, Decisions</h3>
  <p>See your poll <a href='http://localhost:8080/<%=urls["poll_url"]%>'>here</a>, and send to your friends so you can make the best decision!</p>
  <p>See your results page<a href='http://localhost:8080/<%=urls["admin_url"]%>'>here</a>. It will update with new results as your friends answer the poll</p>
  <p>See all your polls <a href="http://localhost:8080/admin/polls/all">here</a></p>
</div>
</form>
</div>

  </body>

</html>
 