<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thank you</title>


    <link rel="stylesheet" href="/test.css" type="text/css" />
  </head>

  <body>
    <h1>Your Poll</h1>


<ul>
  <li>Poll to send to your friends: </li>
  <li>Results page: http://localhost:8080/<%=urls["poll_url"]%> </li>
  <li>See all your polls: http://localhost:8080/<%=urls["admin_url"]%></li>
  <li>Email to your friends: </li>

</ul>


  </body>
</html>
