 <% include ./partials/_partials.ejs %>
<header>





</header>

<main class="container">
<h1 class="user_polls">USERS POLLS</h1>

<div class="panel panel-info">
      <div class="single_head">
      <div class="panel-heading">Panel with panel-info class</div>
      <div class="panel-body">Panel Content<button type="button" class="btn btn-danger btn-xs">DELETE</button></div>
      </div>
      <div class="rest_head">
      <div class="poll_head">
      <div class="panel-heading">Panel with panel-info class</div>
      </div>
      <div class="poll_head">
      <div class="panel-heading">Panel with panel-info class</div>
      </div>
      <div class="poll_head">
      <div class="panel-heading">Panel with panel-info class</div>
      </div>
      <div class="poll_head">
      <div class="panel-heading">Panel with panel-info class</div>
      </div>
      <div class="poll_head">
      <div class="panel-heading">Panel with panel-info class</div>
      </div>
      <div class="poll_head">
      <div class="panel-heading">Panel with panel-info class</div>
      </div>
    </div>


     </div>
</main>
  </body>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/scripts/user_polls.js"></script>

</html>
