<!DOCTYPE html>
 <html lang="en">
   <head>
     <title>Decision Maker Home Page</title>
     <link href="https://fonts.googleapis.com/css?family=Rambla:400,700" rel="stylesheet">
     <link rel="stylesheet" href="/styles/userpolls.css" type="text/css"/>
     <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
     <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
     <link rel="stylesheet" href="/styles/Nav-bar.css" type="text/css" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


   </head>

   <body class="over">
     <nav class="navbar navbar-inverse">
   <div class="container-fluid">

     <div class="navbar-header">

      <a class="brand" href="http://localhost:8080/">Decision Maker</a>
     </div>

   </div>
 </nav>

<header>





</header>
<h1 class="user_polls">YOUR POLLS</h1>
<main class="containerpolls">


<div class="panel panel-info">
      <div class="single_head">
      <div class="panel-heading">WHAT SHOULD I DO TOMMORROW ?</div>
      <div class="panel-body"><img src="/images/donut.png" height="120px" length="120px"><button type="button" class="btn btn-danger btn-xs">DELETE</button></div>
      </div>
      <div class="rest_head">
      <div class="poll_head">
      <div class="panel-heading">TO BE OR NOT TO BE ?</div>
      </div>
      <div class="poll_head">
      <div class="panel-heading">WHAT IS THE MEANING OF LIFE ?</div>
      </div>
      <div class="poll_head">
      <div class="panel-heading">WILL THE JAYS WIN THE WORLD SERIES ?</div>
      </div>
      <div class="poll_head">
      <div class="panel-heading">WHICH HARRY POTTER BOOK IS THE BEST ?</div>
      </div>
      <div class="poll_head">
      <div class="panel-heading">IS THIS KAFKA-ESQUE ?</div>
      </div>
      <div class="poll_head">
      <div class="panel-heading">HOW LONG WILL IT BE BEFORE MY PIZZA ARRIVES ?</div>
      </div>
    </div>


     </div>
</main>
  </body>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/scripts/user_polls.js"></script>

</html>
