nav.navbar.navbar-inverse{
background-color: #1B6CB2;
margin-bottom:0px;
}

.navbar-header{
text-align: center;
width:100%;
color:white;

display:inline-block;

}



.brand{
float:none;
color:white;
font-size:50px;

}


body.over {
background-color:#72BEFF;

h1 {
color: black;
text-align: center;



}

.btn-lg {
display: block;
margin: auto;
width: 100%;
margin-top: 25px;
}

.btn-md {
margin-top:10px;
background-color:#54CC14;
border:2px solid #54CC14;
}

.remove_field {
float:right;
}


.profile_pic {
  display: inline;
}


.form-group{
margin-bottom:10px;


}


.container {
width: 55%;
background-color:#72BEFF;
border-bottom:500px;

.new_choice{
margin-bottom:10px;
}


}
}


.user_polls {
text-align:center;
margin-top:40px;
}

.panel.panel-default {
width:22.5%;
margin-left:22px;
height:190px;
}

.polls{
margin-top:50px;
}






