
.navbar-inverse{
  background-color: #1B6CB2;
  margin-bottom:0px;
}

.navbar-header{
  text-align: center;
  width:100%;
  color:white;
  height:100px;

}

.container-fluid{
  height:60px;
}

.brand{
  float:none;
  color:white;
  font-size:50px;

}


body {
  background-color: white;

  h1 {
    color: black;
    text-align: center;

  }

  .btn-lg {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 10px;
  }

  .btn-md {
   margin-top:10px;
  }

  .remove_field {
    margin-top:10px;
    margin-bot:15px;

  }

.container {
  width: 100%;
  background-color:#72BEFF;
  height:100%;
  }

.panel {
   height:180px;
   width:23.5%;
   margin:10px;
   padding-left:10px;


  }

  .button_column {


.panel{
 background-color:#72BEFF;
}

.btn-info {

   height:180px;
   width:110%;
   font-size:60px;
   margin-left:-11px;
   margin-top:-2px;
  }



 }





}

