.circle-container {
  position: relative;
  /* 1 */
  width: 40em;
  height: 40em;
  padding: 40;
  border-radius: 10%;
  list-style: none;
  /* 2 */
  box-sizing: content-box;
  /* 3 */
  margin: 5em auto 0;
  border: solid 5px tomato;
}
.circle-container > * {
  /* 4 */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10em;
  height: 10em;
  margin: -5em;

}
.circle-container > :nth-of-type(1) {
  transform: rotate(0deg) translate(20em) rotate(0deg);
}
.circle-container > :nth-of-type(2) {
  transform: rotate(72deg) translate(20em) rotate(-72deg);
}
.circle-container > :nth-of-type(3) {
  transform: rotate(144deg) translate(20em) rotate(-144deg);
}
.circle-container > :nth-of-type(4) {
  transform: rotate(216deg) translate(20em) rotate(-216deg);
}
.circle-container > :nth-of-type(5) {
  transform: rotate(288deg) translate(20em) rotate(-288deg);
}

.circle-container img {
  display: block;
  width: 100%;
  border-radius: 10px;
  filter: grayscale(100%);
}
.circle-container img:hover {
  filter: grayscale(0);
}
.option{
  border:10px solid;
}
.box{
  position: absolute;
  height:350px;
  width:550px;
  border-radius: 10%;
  border:5px solid;
  display: block;
  top: 35%;
  left: 30%;
  padding: 10px;

}